h1 {
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    color: rgb(212, 113, 0)
}

.container img { 
    display: none;

}

.container img:first-of-type {
	display: block;

}

body{ 
    background-color: rgb(203, 137, 137); 
    background: linear-gradient(90deg, #0050fb 0%, rgb(1, 183, 171) 35%, rgba(0,212,255,1) 100%);
    
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0  5px;
    
    

}

nav a:hover{
    color:black ;
    text-decoration: underline;
    border: 1px solid black;
    background: rgb(0, 0, 255,.5);
}

#test {
    height: 100vh;
    width: 100vw;

}

#hello{
    display: none
} 

ul{
    box-sizing: border-box;
}

h2 {
    text-align: center;
}